.wrapper a .postimage {
    border-radius: 8px;
    height: 150px;
    width: auto;
    padding: 10px;
    color: #fff;
    font-family: Helvetica;
}

.wrapper a .postimage:hover{
    opacity:0.9 !important;
}

a { 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
   a:hover { 
    text-decoration: none; /* Добавляем подчеркивание 
                                   при наведении курсора мыши на ссылку */
   }

.wrapper > a > div > img {
    padding-top: 10px;
}

.wrapper {
    width:900px;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    font-family: Roboto;
    font-weight: bold;
}

.wrapper > .comment {
    padding: 10px;
}

.browsetitle {
    text-shadow:  0 0 10px rgba(0,0,0,0.3);
}

body {
    background-color:#f1f1f1;
}

.created_at {
    font-size:10px;
    opacity:0.7;
}