.comments .comment {
    border-radius: 8px;
    width: auto;
    padding: 10px;
}

#commentForm {
    margin-top:15px;
    margin-bottom:20px;
}

.username {
    font-size: 16px;
    font-weight: 700;
}

.comments {
    width:900px;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}

.comment {
    background-color: #fff;
    border-radius: 10px;
    box-shadow:  0 0 5px rgba(0,0,0,0.1);
}

.postimage {
    height:500px;
    width:900px;
    background-size: cover; 
    background-position: center;
    border-radius:5px 5px 0px 0px;
}

.posttitle{
    font-weight: bold;
    font-size:3em;
}

.posthead {
    width:900px;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow:  0 0 5px rgba(0,0,0,0.1);
    padding-bottom:20px;
    
}

.posthead > div {
    padding-left: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    color: #252525;
}

.header {
    width: 900px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size:1.5em;
    font-weight: 900;
}

a {
    color: #575757;
}
a:hover {
    color: #252525;
    text-decoration: none;
}

input[type=file]{
    margin-bottom: 15px;
}

.fileError{
    color:red;
}

#commentForm {
    margin: auto;
    margin-top:15px;
    margin-bottom:15px;
    width:930px;
}